* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 30px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Header  */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    height: 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(43, 42, 42, 0.049);
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
}

#header .logo {
    width: 40px;
    height: 40px;
}

#header #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#header #navbar li {
    margin: 20px;
    text-decoration: none;
    position: relative;
}

#header #navbar li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: all 0.3s ease;
}

#header #navbar li a:hover,
#header #navbar li a:focus,
#header #navbar li a.active{
    color: blue;
}

#header #navbar li a.active::after,
#header #navbar li a:hover::after,
#header #navbar li a:focus::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: blue;
    position: absolute;
    bottom: -4px;
    left: 0;
}

/* home page  */

#hero {
    background-image: url("./../img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding: 1rem 0;
}

#hero h2 {
    padding: .3rem 0;
    font-weight: bolder;
    color: blue;
}

#hero p {
    font-weight: bolder;
}

#hero button{
    padding: .6rem;
    font-weight: bolder;
    border: 1px solid blue;
    cursor: pointer;
}

#hero button:hover{
    background-color: blue;
    color: white;
    padding: .6rem;
    font-weight: bolder;
    border: 1px solid blue;
    cursor: pointer;
}


/* feature  */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .featur-box {
    width: 250px;
    height: 220px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.049);
    margin: 1rem 0;
    cursor: pointer;
}

#feature .featur-box p{
    margin-top: 40px;
    display: inline-block;
}

/* features products  */

#product-container {
    text-align: center;
}

#product-container .pro-container-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#product-container .product {
    width: 23%;
    min-width: 250px;
    padding: 7px;
    border: 1px solid #cce;
    margin: 7px;
}

#product-container .product img{
    width: 100%;
    min-height: 45vh;
}

#product-container .product .descend-product {
    text-align: start;
    line-height: 16.2px
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40vh;
    background-image:  linear-gradient(to bottom, rgba(26, 29, 46, 0.52), rgba(20, 12, 48, 0.73)), url("./../img/banner/b2.jpg");
    background-size: cover;
    background-position: center;
}

#banner h2{
    color: white;
    font-size: 37px;
    padding: 10px;
}

#banner h2 span {
    color: red;
    font-weight: 800;

}

#banner button {
    padding: .8rem 1.5rem;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

/* contact  */

#contact {
   text-align: center;
   
}

#contact #detail-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 55vh;
    margin-bottom: 2rem;
}

#contact #detail-contact .contact-detail {
    min-width: 550px;
    height: 60vh;
    padding: 1rem 0;
}

#contact .contact-detail form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#contact .contact-detail form input {
    height: 34px;
    min-width: 330px;
    margin: 7px;
    padding: 0 .3rem ;
}

#contact .contact-detail form textarea {
    height: 140px;
    min-width: 330px;
    margin: 7px;
    padding: 0 .3rem;
}


#detail-contact #contact-map{
    min-width: 550px;
    height: 40vh;
    padding: 1rem;
    background-color: #465b52;
}

iframe {
    width: 80%;
    height: 60%;
}

.contact-detail-number {
    height: 40%;
}

.col img {
    width: 30px;
    height: 30px;
}